{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin">


        <title>{{ template.titulo }}</title>  
        <link rel="icon" href="/static/home/img/site/calangofavi.svg" />
        <link rel="stylesheet" href="/static/home/css/spin.css">

        <link rel="stylesheet" href="/static/testes/css/animacao.css" />
        <link rel="stylesheet" href="/static/testes/css/beneficios.css" />

        <link rel="stylesheet" href="/static/land/css/main.css" />

        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
       
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<style>
    

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    background-color: #555555;
    line-height: 23px;
    letter-spacing: 0.02em;
    width: 100%;

}

</style>
</head>
<body>

    

   
    <section>
    
        <!-- Container do carrossel -->
        <div class="initial1">  
            <div class="initial">
                <br> 
                <div class="swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cartao">
                                <div class="slider-text-middle padding-left-right-px wow fadeInUp animated"
                                    style="visibility: visible; animation-name: fadeInUp; text-align: center; " data-wow-duration="900ms" >
                                    <div class="title-cards">1 Loja</div>
                                    <p class="subtitle-cards"><strong>Tenha direito a construção de 1 loja.</strong></p>
                                    <p class="subtitle-cards"><strong>R$ 20,00.</strong></p>
                                    <a class="btn-cards" href="https://pay.kiwify.com.br/aO0cmKL" target="_blank" style="margin-top: 15px;">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cartao">
                                <div class="slider-text-middle padding-left-right-px wow fadeInUp animated"
                                    style="visibility: visible; animation-name: fadeInUp; text-align: center;" data-wow-duration="1800ms">
                                    <div class="title-cards">5 Lojas</div>
                                    <p class="subtitle-cards"><strong>Tenha direito a construção de 5 lojas.</strong></p>
                                    <p class="subtitle-cards"><strong>R$ 65,00.</strong></p>
                                    <a class="btn-cards" href="https://pay.kiwify.com.br/YDsmdXC" target="_blank" style="margin-top: 15px;">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cartao">
                                <div class="slider-text-middle padding-left-right-px wow fadeInUp animated"
                                    style="visibility: visible; animation-name: fadeInUp; text-align: center;" data-wow-duration="2700ms">
                                    <div class="title-cards">10 Lojas</div>
                                    <p class="subtitle-cards"><strong>Tenha direito a construção de 10 lojas.</strong></p>
                                    <p class="subtitle-cards"><strong>R$ 130,00.</strong></p>
                                    <a class="btn-cards" href="https://pay.kiwify.com.br/Gr1eL9t" target="_blank" style="margin-top: 15px;">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cartao">
                                <div class="slider-text-middle padding-left-right-px wow fadeInUp animated"
                                    style="visibility: visible; animation-name: fadeInUp; text-align: center;" data-wow-duration="3600ms">
                                    <div class="title-cards">30 Lojas</div>
                                    <p class="subtitle-cards"><strong>Tenha direito a construção de 30 lojas.</strong></p>
                                    <p class="subtitle-cards"><strong>R$ 389,00.</strong></p>
                                    <a class="btn-cards" href="https://pay.kiwify.com.br/pdfXOvb" target="_blank" style="margin-top: 15px;">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cartao">
                                <div class="slider-text-middle padding-left-right-px wow fadeInUp animated"
                                    style="visibility: visible; animation-name: fadeInUp; text-align: center;" data-wow-duration="4500ms">
                                    <div class="title-cards">50 Lojas</div>
                                    <p class="subtitle-cards"><strong>Tenha direito a construção de 50 lojas.</strong></p>
                                    <p class="subtitle-cards"><strong>R$ 649,00.</strong></p>
                                    <!--<p class="title-cards"><strong>Economia de  R$ 351,00.</strong></p>-->
                                    <a class="btn-cards" href="https://pay.kiwify.com.br/RRJrE90" target="_blank" style="margin-top: 15px;">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cartao">
                                <div class="slider-text-middle padding-left-right-px wow fadeInUp animated"
                                    style="visibility: visible; animation-name: fadeInUp; text-align: center;" data-wow-duration="5400ms">
                                    <div class="title-cards">100 Lojas</div>
                                    <p class="subtitle-cards"><strong>Tenha direito a construção de 100 lojas.</strong></p>
                                    <p class="subtitle-cards"><strong>R$ 1227,00.</strong></p>
                                    <!--<p class="title-cards"><strong>Economia de  R$ 773,00.</strong></p>-->
                                    <a class="btn-cards" href="https://pay.kiwify.com.br/nH1EG7v" target="_blank" style="margin-top: 15px;">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <br> 
        </div>
    </section>
  
    <script>
        var verticalSwiper = new Swiper('.swiper-container-horizontal', {
            direction: 'horizontal', // Mantenha a direção horizontal
            slidesPerView: 3, // Mostra 3 cartões na visualização desktop
            spaceBetween: 20, // Ajuste o espaçamento entre os slides conforme desejado
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            keyboard: {
                enabled: true,
            },
            mousewheel: {
                enabled: true,
            },
            effect: 'coverflow',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                320: { // Para telas pequenas (mobile)
                    slidesPerView: 1,
                    spaceBetween: 10,
                },
                768: { // Para telas médias e maiores (desktop)
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
            }
        });
        
        </script>
        

</body>
</html>
    