{% extends 'basepoliticas.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container padding-beneficios">
                        
    <div class="ben-card">
        <div class="ben-card">

            <div class="ben-card">
              <div class="text-center " style= "text-align: center">
                <h3 class="title-cards"><span class="fine-title">Obrigado por entrar em contato!</span></h3>  
                <p class="subtitle-cards" ><h2>Sua mensagem foi recebida com sucesso. </h2></p>
                <p class="subtitle-cards"><h2>Em breve entraremos em contato </h2></p>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}