{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template.titulo }}</title>
    <style>
         #main-title {
            height: 90px;
            width: 270px;
            background-image: url('https://github.com/ronildob/IMAGENS/blob/main/Shopbotfy%20-%20LOGO%20%20(300%20x%2090%20px).png?raw=true');
            background-position: center;
            background-size: cover;
            color: white;
            text-align: center;
            line-height: 90px;
            margin: 0 auto 20px auto;
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; min-height: 100vh; background-color: {{ template.background_color|default:'black' }}; display: flex; justify-content: center; align-items: center; text-align: center;">
    
    <div class="cont-principal" style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; background-color: {{ template.background_color|default:'black' }}; box-sizing: border-box; text-align: center;">
        <div id="main-title"></div>
        <br></br>
        
        <!-- Text Header and Content -->
        <h2 style="color: {{ template.text_header_color|default:'white' }};">{{ template.text_header_content }}</h2>
        <h1 style="color: {{ template.text_saudacao_color|default:'white' }};">Olá {{ agencia }}!</h1>
        <p style="color: {{ template.text_saudacao_color|default:'white' }};">{{ template.text_saudacao_content }}</p>

        <h1 style="color: {{ template.text_saudacao_color|default:'white' }};"><strong>Username:</strong> {{ username }}</h1>
        <h1 style="color: {{ template.text_saudacao_color|default:'white' }};"><strong>Senha:</strong> {{ senha }}</h1>
        

        <!-- Acessar Button -->
        <a href="https://www.shopbotfy.com/" target="_blank" class="botao-externo" style="display: block; width: 100%; max-width: 200px; margin: 20px auto; padding: 10px; text-align: center; text-decoration: none; background: #97be48; color: #000; border-radius: 20px; border: 3px solid #6f9134;">
            Acessar
        </a>
        
        <!-- Footer Content -->
        <p style="color: {{ template.text_header_color|default:'white' }};">&copy;2024 Shopbotfy. Todos os direitos reservados</p>
    </div>
    
</body>
</html>
