{% extends 'basepoliticas.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container padding-beneficios">
                        
          <div class="ben-card">
              <div class="ben-card">

                  <div class="ben-card">
                    <div class="text-center">
                      <h3 class="title-cards"><span class="fine-title">Política de Privacidade</span></h3>         
                      </div>
                      <div class="beneficios-card">
                          <br></br>
                          <h3 class="title-cards">Bem-vindo à shopbotfy.com.</h3>
                          <p class="subtitle-cards"><h2>Esta política de privacidade explica como coletamos, </h2></p>                                                                                                
                          <p class="subtitle-cards"><h2>usamos e protegemos suas informações quando você visita nosso site.</h2></p>                                                                                                

                          <br></br> 

                          <h3 class="title-cards">Informações que Coletamos</h3>
                          <p class="subtitle-cards"><h2>Coletamos as seguintes informações quando você interage com nosso site:</h2></p>
                          <p class="subtitle-cards"><strong>Informações Pessoais:</strong> Nome, e-mail, telefone, etc.</p>
                          <p class="subtitle-cards"><strong>Dados de Navegação:</strong> Endereço IP, tipo de navegador, páginas visitadas, etc.</p>
                  
                          <br></br>
                          <h3 class="title-cards">Usamos suas informações para:</h3>
                          <p class="subtitle-cards"><strong>Melhorar a experiência do usuário em nosso site.</strong></p>
                          <p class="subtitle-cards"><strong>Enviar atualizações e informações relevantes sobre nossos eventos e atividades.</strong></p>
                          <p class="subtitle-cards"><strong>Responder a solicitações e perguntas.</strong></p>
                          
                          <br></br>
                          <h3 class="title-cards">Compartilhamento de Informações</h3>
                          <p class="subtitle-cards"><strong>Nós não compartilhamos suas informações pessoais com terceiros, </strong></p>
                          <p class="subtitle-cards"><strong>exceto quando for necessário para cumprir obrigações legais</strong></p>
                          <p class="subtitle-cards"><strong>ou para colaborar com parceiros confiáveis que nos auxiliam na operação do nosso site.</strong></p>
                          <p class="subtitle-cards"><strong>Esses parceiros estão igualmente comprometidos em garantir a segurança e a confidencialidade dos seus dados.</strong></p>
                          
                          <br></br>
                          <h3 class="title-cards">Medidas de Segurança</h3>
                          <p class="subtitle-cards"><strong>Implementamos medidas rigorosas de segurança para proteger suas informações pessoais.</strong></p>
                          <p class="subtitle-cards"><strong>No entanto, embora nos esforcemos para utilizar os melhores recursos disponíveis,</strong></p>
                          <p class="subtitle-cards"><strong>é importante destacar que nenhum método de transmissão de dados pela internet</strong></p>
                          <p class="subtitle-cards"><strong>ou de armazenamento eletrônico é totalmente seguro.</strong></p>
                          <p class="subtitle-cards"><strong>Apesar de nossos esforços para proteger seus dados, não podemos garantir segurança absoluta.</strong></p>
                          <p class="subtitle-cards"><strong>Por isso, recomendamos que você também adote práticas de segurança apropriadas ao navegar online e ao compartilhar suas informações.</strong></p>

                          <br></br>
                          <h3 class="title-cards">Seus Direitos</h3>
                          <p class="subtitle-cards"><strong>Você tem o direito de acessar, corrigir ou solicitar a exclusão de suas informações pessoais a qualquer momento.</strong></p>
                          <p class="subtitle-cards"><strong>Para exercer esses direitos, entre em contato conosco através do e-mail <a href="mailto:shopbotfy@shopbotfy.com" class="red-text">shopbotfy@shopbotfy.com</a> .</strong></p>
                          <p class="subtitle-cards"><strong>Estamos à disposição para atender suas solicitações e garantir que suas informações sejam tratadas de forma segura e transparente.</strong></p>
                          

                          <br></br>
                          <h3 class="title-cards">Alterações na Política de Privacidade</h3>
                          <p class="subtitle-cards"><strong>Nossa política de privacidade pode ser revisada periodicamente para refletir mudanças nas nossas práticas de segurança,</strong></p>
                          <p class="subtitle-cards"><strong>requisitos legais, ou aprimoramentos em nossos serviços.</strong></p>
                          <p class="subtitle-cards"><strong>Quaisquer alterações serão publicadas nesta página, acompanhadas da data de revisão atualizada.</strong></p>
                          <p class="subtitle-cards"><strong>Recomendamos que você revise esta política regularmente para se manter informado sobre como protegemos suas informações pessoais.</strong></p>
                          <p class="subtitle-cards"><strong>Mudanças significativas poderão ser comunicadas diretamente via e-mail ou por meio de notificações em nosso site,</strong></p>
                          <p class="subtitle-cards"><strong>especialmente se impactarem seus direitos ou o uso de seus dados.</strong></p>
                          
                          
                          <br></br>
                          <br></br>
                          
                          
                          <p class="subtitle-cards">&copy;ShopBotfy  <br></br>    01 de junho de 2024.</p>
                          
                          
                          

                      </div>
                  </div>


              </div>
          </div> 
        
          
      </div>
    </div>                                     
               
{% endblock %}




  