{% extends 'basepoliticas.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container padding-beneficios">
    <div class="ben-card">
        <div class="ben-card">
            <div class="ben-card">
                <div class="text-center">
                    <h3 class="title-cards"><span class="fine-title">Termos de Uso</span></h3>
                </div>
                <div class="beneficios-card">
                    <br></br>
                    <h3 class="title-cards">Bem-vindo à ShopBotfy.com.</h3>
                    <p class="subtitle-cards"><h2>Estes termos de uso regem seu acesso e uso do nosso site.</h2></p>
                    <p class="subtitle-cards"><h2>Ao acessar ou usar nosso site, você concorda em cumprir estes termos.</h2></p>
                    <br></br>

                    <h3 class="title-cards">Uso do Site</h3>
                    <p class="subtitle-cards"><h2>Você se compromete a usar nosso site de forma legal e ética.</h2></p>
                    <p class="subtitle-cards"><h2>É proibido utilizar nosso site para qualquer atividade ilegal ou não autorizada.</h2></p>
                    <p class="subtitle-cards"><strong>Você concorda em não violar ou tentar violar a segurança do site.</strong></p>
                    
                    <br></br>
                    <h3 class="title-cards">Conteúdo do Usuário</h3>
                    <p class="subtitle-cards"><h2>Você é responsável por qualquer conteúdo que enviar ou compartilhar através do nosso site.</h2></p>
                    <p class="subtitle-cards"><strong>Você garante que possui todos os direitos necessários para o conteúdo que enviar.</strong></p>
                    <p class="subtitle-cards"><strong>Nós nos reservamos o direito de remover qualquer conteúdo que viole estes termos.</strong></p>
                    
                    <br></br>
                    <h3 class="title-cards">Propriedade Intelectual</h3>
                    <p class="subtitle-cards"><h2>Todo o conteúdo do site é de propriedade da ShopBotfy.com ou de nossos licenciantes.</h2></p>
                    <p class="subtitle-cards"><strong>Você não pode reproduzir, distribuir, modificar ou criar obras derivadas do conteúdo sem nossa permissão expressa.</strong></p>
                    
                    <br></br>
                    <h3 class="title-cards">Isenção de Responsabilidade</h3>
                    <p class="subtitle-cards"><h2>Nosso site é fornecido "como está" e "conforme disponível".</h2></p>
                    <p class="subtitle-cards"><strong>Nós não garantimos que o site estará livre de erros ou interrupções.</strong></p>
                    <p class="subtitle-cards"><strong>Não somos responsáveis por qualquer dano decorrente do uso do nosso site.</strong></p>
                    
                    <br></br>
                    <h3 class="title-cards">Alterações nos Termos de Uso</h3>
                    <p class="subtitle-cards"><h2>Podemos revisar estes termos de uso periodicamente.</h2></p>
                    <p class="subtitle-cards"><strong>Quaisquer alterações serão publicadas nesta página e a data de revisão será atualizada.</strong></p>
                    <p class="subtitle-cards"><strong>Recomendamos que você revise estes termos regularmente.</strong></p>
                    
                    <br></br>
                    <h3 class="title-cards">Contato</h3>
                    <p class="subtitle-cards"><h2>Se você tiver qualquer dúvida sobre estes termos, entre em contato conosco através do e-mail <a href="mailto:shopbotfy@shopbotfy.com" class="red-text">shopbotfy@shopbotfy.com</a>.</h2></p>
                    
                    <br></br>
                    <p class="subtitle-cards">&copy;ShopBotfy <br></br> 01 de junho de 2024.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}