/* Estilo do modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Fundo semitransparente */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

/* Estilo do botão de fechar */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
