
:root {
    --agencia_bg_image: url("{% if agencia.agencia_bg_image %}{{ agencia.agencia_bg_image.url }}{% else %}{% static 'default-image.png' %}{% endif %}");
    --agencia_bg_width: {{ agencia.agencia_bg_width|default:'300px' }};
    --agencia_bg_height: {{ agencia.agencia_bg_height|default:'90px' }};
    --position_bg_image: {{ agencia.position_bg_image|default:'center' }};

    --texto_cabecalho_agencia: "{{ agencia.texto_cabecalho_agencia|default:'Seu Texto de cabeçalho Aqui' }}";
    --cabecalho_font_size: {{ agencia.cabecalho_font_size|default:'16px' }};
    --cabecalho_text_color: {{ agencia.cabecalho_text_color|default:'white' }};
    --position_texto_cabecalho: {{ agencia.position_texto_cabecalho|default:'center' }};

    --agencia_header_color: {{ agencia.agencia_header_color|default:'black' }};
    
    --main-bg-position: {{ template.bg_position|default:'center' }};
    --main-text-color: {{ template.text_color|default:'white' }};



    --footer-color: {{ template.footer_color|default:'black' }};

    --apresentacao-color: {{ template.apresentacao_color|default:'black' }};
    --main-text-position: {{ template.text_position|default:'center' }};
    --main-text-content: "{{ template.text_content|default:'Seu Texto Aqui' }}";
    --main-text-font-size: {{ template.font_size|default:'16px' }};
    --background_color: {{ template.background_color|default:'black' }};
    --text_header_color: {{ template.text_header_color|default:'white' }}; 
    --text_saudacao_color: {{ template.text_saudacao_color|default:'white' }};
    --text_header_content: "{{ template.text_header_content|default:'Seu Texto de Cabeçalho Aqui' }}";
    --text_saudacao_content: "{{ template.text_saudacao_content|default:'Abaixo estão seus dados para acessar a plataforma:' }}";
}

html, body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da viewport */
    background: #fff;  
}

body {
    display: flex;
    flex-direction: column; /* Define a orientação dos elementos como coluna */
    justify-content: flex-start; /* Alinha os elementos no início (no topo) verticalmente */
    align-items: center; /* Alinha os elementos no centro horizontalmente */
    margin: 0; /* Remove margens extras que poderiam causar rolagem */
    padding: 0;
    overflow: hidden; /* Certifica que o body não tem rolagem */
    text-transform: none; /* Garante que o texto não seja transformado */
}

header {
    background-color: var(--agencia_header_color);
    padding: 20px 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    top: 0;
    position: fixed;
    z-index: 3000;
}

/* Itens do header */
.header-left, .header-right {
    flex: 1;
}

.header-middle {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

/* Configurações para telas pequenas */
@media (max-width: 768px) {
    #title {
        display: none; /* Oculta o #title em telas menores */
    }

    #main-title {
        position: static; /* Remove o posicionamento absoluto */
        width: 100%; /* Define largura completa */
        height: auto; /* Ajuste a altura conforme necessário */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Centraliza o conteúdo dentro do header */
    .header-left, .header-right {
        display: none; /* Oculta as seções laterais em telas pequenas */
    }

    .header-middle {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}


#main-title {
    background-image: var(--agencia_bg_image);
    width: var(--agencia_bg_width);
    height: var(--agencia_bg_height); /* Ajuste conforme necessário */
    background-size: cover;
    position: absolute; /* Se você quiser que isso cubra o header */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex; /* Adicione se quiser centralizar conteúdo dentro */
    justify-content: center; 
    align-items: center; 
    
}
/* Efeito de zoom ao passar o mouse */
#main-title:hover {
    transform: scale(1.05); /* Leve aumento de 5% */
}
.icon-zoom {
    transition: transform 0.3s ease; /* Transição suave de 0.3s */
}

.icon-zoom:hover {
    transform: scale(1.1); /* Aumenta o ícone em 10% ao passar o mouse */
}

#title {
    color: var(--cabecalho_text_color);
    font-size: var(--cabecalho_font_size);
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    position: relative;
    margin: 0;
}
/* Área de conteúdo */
.content {
    display: flex;
    flex: 1;
    flex-direction: row; /* Alinha itens horizontalmente, com o menu à esquerda e o conteúdo à direita */
    width: 100%; /* Garante que ocupe 100% da largura disponível */
    top: 10%;
}
/* Cabeçalho */
.cont-cab {
    width: 100%; /* Largura total */
    height: 150px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Fica atrás do texto */


}

.cont-esq {
    position: fixed;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: #969696;
    padding: 10px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: visible; /* Permite que os itens excedam os limites horizontais */
    z-index: 999;
    transition: transform 0.3s ease; /* Animação suave */
    top: 11%;
    text-transform: none; /* Garante que o texto não seja transformado */
}
.cont-esq .toggle-btn {
    position: relative; /* Necessário para que o item possa ultrapassar os limites do container */
}
.cont-esq.closed {
    transform: translateX(-90%); /* Esconde o menu fora da tela */
}

/* Botão para abrir/fechar o menu */
.toggle-btn {
    position: fixed;
    top: 2%;
    left: calc(100% - 11%); 
    /* left: 140px;*/
    width: 27px; /* Aumenta o tamanho para um círculo visível */
    height: 27px;
    background-color: #333; /* Cor de fundo similar ao da imagem */
    border: 2px solid #666; /* Borda mais visível e com tom mais escuro */
    border-radius: 50%; /* Deixa o botão redondo */
    cursor: pointer;
    text-align: center;
    line-height: 27px; /* Alinha o texto verticalmente */
    color: #ccc; /* Cor da seta */
    font-size: 18px; /* Tamanho da seta (usar ícone de seta ou símbolo '>' */
    z-index: 5000;
    transition: all 0.3s ease; /* Animação suave */
    position: relative; /* Necessário para que o item possa ultrapassar os limites do container */
}


.toggle-btn:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
    border-color: #97be48; /* Cor da borda ao passar o mouse */
    color: #97be48; /* Cor da seta ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho no hover */
}


/* Estilo da seta quando o menu está fechado */
.cont-esq.closed .toggle-btn {
    transform: rotate(180deg); /* Rotaciona a seta para o outro lado */

}

/* Move o botão para a borda esquerda quando o menu está fechado */
.cont-esq.closed + .toggle-btn {
    left: calc(100% - 10%);
    /* left: 60px;  Ajusta para a borda da tela */

}

.cont-dir {
    width: calc(100% - 18%); /* O container ocupa o espaço restante quando o menu está aberto */
    margin-left: calc(18% );
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Remove a rolagem */
    min-height: 100vh;
    transition: width 0.3s ease, margin-left 0.3s ease; /* Animação suave */
    top: 5%;
    
}
.cont-dir.expanded {
    width: 100%; /* O container ocupa toda a tela quando o menu está fechado */
    margin-left: 0;

}





/* Estilos para telas menores */
@media (max-width: 768px) {
    .cont-esq {
        transform: translateX(-90%); /* Esconde o menu fora da tela em telas menores */
        width: 40%; /* O menu ocupará 40% da tela quando aberto */
       
    }

    .cont-esq.open {
        transform: translateX(0); /* Mostra o menu ao clicar no botão */
    }

    .cont-dir {
        width: 100%; /* O conteúdo da direita ocupa 100% da tela */
        margin-left: 0;
        transition: width 0.3s ease, margin-left 0.3s ease;
    }

    .cont-dir.recued {
        width: 60%; /* O conteúdo da direita ocupa 60% da tela quando o menu está aberto */
        margin-left: 40%; /* Recuar o conteúdo da direita */
    }

    /* Ajuste do botão de alternância */
    .toggle-btn {
        left: calc(100% - 9%);
        /* left: 40%; /* Mantém o botão visível à esquerda quando o menu está escondido */
        top: 2%; /* Garante que o botão fique visível em telas menores */
    }

    .cont-esq.open + .toggle-btn {
        left: calc(100% - 40%);
        /* left: 40%;  Move o botão para próximo da borda do menu ao abrir */
    }
}

.remote-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.control-button.up {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.control-button.down {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.control-button.left {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.control-button.right {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.control-button:hover {
    background-color: #0056b3;
}


.button-container button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #45a049;
}


.cont-pri {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    text-transform: none; /* Garante que o texto não seja transformado */
}
.contpri {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    /* Remove a altura mínima fixa */
    min-height: auto; 
    /* Adiciona um espaçamento interno, se necessário */
    padding: 10px; 
    /* Garante que o conteúdo interno não ultrapasse o contêiner */
    box-sizing: border-box; 
}
.cont-principal {
    width: 100%; /* Largura total */
    max-width: 100%; /* Largura máxima igual à largura da tela */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    background: #fff; /* Cor de fundo branca */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Mantém o padding dentro do tamanho total do contêiner */
    display: flex; /* Torna o contêiner um flex container */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    flex-direction: column; /* Empilha os itens verticalmente */
}



/* Rodapé */
.cont-rod {
    margin-left: 20%;
    width: 70%;
    background-color: #969696;
    padding: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.navbar-hidden {
    top: -100px; /* Esconde o navbar fora da tela */
}
.navbar {
    transition: top 0.3s;
    width: 100%;
    background-color: #969696;
    width: 100%; /* Largura total */

}
.navbar-nav .nav-item {
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 100%; /* Ocupar toda a largura disponível */
    display: flex; /* Usar flexbox para distribuição */
    justify-content: space-between; /* Distribuir os itens ao longo da largura */
    padding: 0; /* Remover padding padrão */
    margin: 0; /* Remover margens padrão */
    list-style: none; /* Remover estilo de lista padrão */

}
.navbar-nav .nav-item img {
    height: 32px;
    cursor: pointer;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 100%; /* Ocupar toda a largura disponível */
    display: flex; /* Usar flexbox para distribuição */
    justify-content: space-between; /* Distribuir os itens ao longo da largura */
    padding: 0; /* Remover padding padrão */
    margin: 0; /* Remover margens padrão */
    list-style: none; /* Remover estilo de lista padrão */
}
.icone_redirect {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.navbar-nav .nav-item a {
    width: 100%; /* Largura total */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 100%; /* Ocupar toda a largura disponível */
    display: flex; /* Usar flexbox para distribuição */
    justify-content: space-between; /* Distribuir os itens ao longo da largura */
    padding: 0; /* Remover padding padrão */
    margin: 0; /* Remover margens padrão */
    list-style: none; /* Remover estilo de lista padrão */
}

.dropdown-button{
    width: 100%; /* Largura relativa ao contêiner pai */
    padding: 10px; /* Espaçamento interno */
    height: 100%; /* Altura fixa para o botão */
    font-size: 19px; /* Tamanho da fonte */
    color: #fff; /* Cor do texto */
    background: #969696;
    display: block; /* Torna o botão um bloco para ocupar toda a largura disponível */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 20px; /* Borda arredondada de 20px */
    border-width: 2px; /* Largura da borda */
    border-style: solid; /* Estilo da borda */
    border-color: #969696; /* Cor da borda */
    cursor: pointer; /* Adiciona o cursor pointer para indicar que o botão é clicável */
}


.dropdown-content,
.dropdown-menu {
    display: none; /* Oculta o dropdown por padrão */
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px; /* Borda arredondada de 20px */
}

.dropdown-content label,
.dropdown-menu {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

.dropdown-content label:hover,
.dropdown-menu {
    color: #44c457;
    font-size: 18px;
}

.color-box {
    background-color: var(--background-color);
    color: var(--text-color);
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-display {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff; /* Cor padrão */
    cursor: pointer;
}

.color-input {
    width: 100px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-align: center;
}

.dropdown-menu {
display: none; /* Oculta o dropdown por padrão */
position: absolute;
background-color: #ffffff;
border: 1px solid #ddd;
border-radius: 4px;
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
z-index: 1000; /* Garante que o menu fique sobre outros elementos */
}

.dropdown-menu.show {
display: block; /* Exibe o dropdown quando a classe 'show' está presente */
}

.dropdown-item {
padding: 10px 20px;
text-decoration: none;
color: #333;
display: block;
}

.dropdown-item:hover {
background-color: #f1f1f1;
}

.dropdown-toggle::after {
content: '\25BC'; /* Adiciona uma seta para baixo no botão */
margin-left: 5px;
}

.contpri {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    min-height: auto; 
    padding: 10px; 
    box-sizing: border-box; 
    text-transform: none; 
}


.initial1 {
max-width: 100%;
margin-bottom: 20px;
position: relative;
overflow: hidden;
border-radius: 20px;
border: 1px solid #0a0a0a;
}
.initial {
max-width: 60%;
margin-bottom: 20px;
position: relative;
overflow: hidden;
border-radius: 20px;
border: 1px solid #181717;
}
.swiper-container-horizontal {
width: 100%;
height: 100%; /* Altura ajustada para o contêiner pai */

}   

.swiper-slide img {
width: 100%;
height: 100%;
object-fit: cover;
}

/* Estilo para os botões com FontAwesome */
.swiper-button-prev,
.swiper-button-next {
width: 40px; /* Largura do botão */
height: 40px; /* Altura do botão */
background-color: rgba(0, 0, 0, 0.281); /* Cor de fundo com transparência */
color: #fff; /* Cor do ícone */
border-radius: 50%; /* Botão redondo */
display: flex;
align-items: center;
justify-content: center;
font-size: 20px; /* Tamanho do ícone */
cursor: pointer; /* Muda o cursor para indicar que é clicável */
z-index: 10; /* Garante que o botão esteja acima dos outros elementos */
position: absolute; /* Posiciona os botões em relação ao contêiner pai */
}

/* Posicionamento dos botões */
.swiper-button-prev {
left: 10px; /* Distância da borda esquerda */
}

.swiper-button-next {
right: 10px; /* Distância da borda direita */
}

/* Adicione algum efeito visual ao passar o mouse sobre os botões */
.swiper-button-prev:hover,
.swiper-button-next:hover {
background-color: #969696;/* Muda a cor de fundo ao passar o mouse */
color: #fff; /* Cor do ícone */
}
.cont-ainer {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 10px;
    width: 90%;

}

.cont-ainereader {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid #ddd; /* Borda inferior */
    position: relative; /* Necessário para o posicionamento do conteúdo */
    z-index: 1; /* Garante que o cabeçalho fique acima do conteúdo */
}
.cont-ainer-header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid #ddd; /* Borda inferior */
    position: relative; /* Necessário para o posicionamento do conteúdo */
    z-index: 1; /* Garante que o cabeçalho fique acima do conteúdo */
}
.cont-ainer-content {
    display: none; /* Inicialmente oculto */
    padding: 10px;
    border-top: 1px solid #ccc;
    overflow-y: auto; /* Permite rolar verticalmente */
    max-height: 300px; /* Define a altura máxima do conteúdo */
    padding: 10px; /* Espaçamento interno */
}

.conainer-header {
    width: 100%;
    background-color: #615f5f;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid #ddd; /* Borda inferior */
    position: relative; /* Necessário para o posicionamento do conteúdo */
    z-index: 1; /* Garante que o cabeçalho fique acima do conteúdo */
}
.conainer-content {
    display: none; /* Inicialmente oculto */
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 100%;
    overflow-y: auto; /* Permite rolar verticalmente */
    max-height: 300px; /* Define a altura máxima do conteúdo */
    padding: 10px; /* Espaçamento interno */
}
.cont-ainer-content p,
.conainer-content p {
    margin: 0;
}
/* Responsividade para telas menores que 768px (geralmente tablets e dispositivos móveis) */
@media (max-width: 768px) {
   
    .swiper-container-horizontal {
        height: 250px; /* Ajuste a altura do swiper para telas menores */
    }

    .contpri, .initial1, .initial {
        max-width: 100%; /* Ajuste a largura máxima */
        margin-bottom: 15px; /* Reduza a margem inferior */
    }

    .swiper-button-prev, .swiper-button-next {
        width: 30px; /* Reduza a largura dos botões */
        height: 30px; /* Reduza a altura dos botões */
        font-size: 16px; /* Reduza o tamanho do ícone */
    }

    .container-header {
        font-size: 16px; /* Ajuste o tamanho da fonte do cabeçalho */
        padding: 8px; /* Reduza o padding */
    }

    .container-content {
        padding: 8px; /* Reduza o padding do conteúdo */
    }
    .video-container {
        margin-top: 15px;
    }

    .video-container video {
        border: 1px solid #ccc; /* Ajuste a borda para telas menores */
    }
}

/* Responsividade para telas menores que 480px (geralmente smartphones) */
@media (max-width: 480px) {

    .swiper-container-horizontal {
        height: 200px; /* Ajuste a altura do swiper para smartphones */
    }

    .contpri, .initial1, .initial {
        margin-bottom: 10px; /* Reduza a margem inferior */
    }

    .swiper-button-prev, .swiper-button-next {
        width: 25px; /* Reduza ainda mais a largura dos botões */
        height: 25px; /* Reduza ainda mais a altura dos botões */
        font-size: 14px; /* Reduza o tamanho do ícone */
    }

    .container-header {
        font-size: 14px; /* Ajuste o tamanho da fonte do cabeçalho */
        padding: 6px; /* Reduza o padding */
    }

    .container-content {
        padding: 6px; /* Reduza o padding do conteúdo */
    }
    .video-container {
        margin-top: 10px;
    }

    .video-container video {
        border: 1px solid #bbb; /* Ajuste a borda para smartphones */
        border-radius: 2px; /* Reduza o raio da borda para telas pequenas */
    }
}

.video-container {
    margin-top: 20px;
}
.videoexplicacao {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.video-container video {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.863); /* Cor branca com 50% de opacidade */
    pointer-events: none; /* Permite que os cliques passem através da sobreposição */
}

#rodape {
    /* Definindo a altura desejada */
    height: 90px;
    /* Definindo a largura desejada */
    width: 270px;
    /* Aplicando a imagem como fundo */
    background-image: url('https://github.com/ronildob/IMAGENS/blob/main/Shopbotfy%20-%20LOGO%20%20(300%20x%2090%20px).png?raw=true');
    /* Centralizando a imagem no elemento */
    background-position: center;
    /* Redimensionando a imagem para cobrir todo o espaço do elemento */
    background-size: cover;
    /* Estilizando o texto dentro do elemento */
    color: white;
    text-align: center;
    line-height: 90px; /* Para centralizar verticalmente */
}


.footer-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}


footer {
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente na linha */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer p{
    font-size: 18px; /* Tamanho da fonte */
    color: #fff; /* Cor do texto no cabeçalho */
}
footer p,
footer h4,
footer h5 {
    margin: 20; /* Remover margens padrão para evitar espaçamento extra */
}
footer h5 a {
    display: flex; /* Usar flexbox para alinhar os itens */
    align-items: center; /* Alinhar os itens verticalmente ao centro */
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remover sublinhado padrão */
    transition: color 0.3s ease; /* Transição suave da cor ao passar o mouse */
}

footer a img {
    margin-right: 0; /* Espaçamento à direita do ícone */
}

footer a:hover {
color: #48ff00; /* Cor do texto do link ao passar o mouse */
}
/* #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$ */
                            /* ESTILOS TEXTO */
/* #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$ */
h1 {
    text-align: center; /* Centraliza horizontalmente */
    margin-top: 0; /* Remove margem superior padrão */
    margin-bottom: 10px; /* Espaçamento inferior */
    color: #fff; /* Cor do texto */
    font-size: 23px; /* Tamanho da fonte */
    align-self: flex-start; /* Alinha o elemento ao início (topo) verticalmente */
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder; /* Adiciona negrito */
    text-transform: none;
}

h2 {
    text-align: center; /* Centraliza horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Cor do texto no cabeçalho */
    font-size: 23px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter; /* Adiciona negrito */
    text-transform: none;


}

h3 {
    text-align: center; /* Centraliza horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Cor do texto no cabeçalho */
    font-size: 23px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: none;

}
h4 {
    text-align: center; /* Centraliza horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Cor do texto no cabeçalho */
    font-size: 16px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-right: 0;
    text-transform: none;
    

}
h5 {
    text-align: center; /* Centraliza horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; /* Cor do texto no cabeçalho */
    font-size: 12px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-right: 0;
    text-transform: none;

}


/* Media Queries para telas menores */
@media (max-width: 768px) {
    h1 {
        font-size: 20px; /* Reduz tamanho da fonte */
        margin-bottom: 8px; /* Ajusta espaçamento inferior */
    }

    h2 {
        font-size: 20px; /* Reduz tamanho da fonte */
    }

    h3 {
        font-size: 18px; /* Reduz tamanho da fonte */
    }

    h4 {
        font-size: 14px; /* Reduz tamanho da fonte */
    }

    h5 {
        font-size: 12px; /* Reduz tamanho da fonte */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px; /* Ajusta ainda mais o tamanho da fonte para telas pequenas */
        margin-bottom: 6px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 13px;
    }

    h5 {
        font-size: 10px;
    }
}
/* Estilos adicionais para itens */
.item {
    background-color: #ddd;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 100vh;
    
}

label {
    /* Definindo a cor do texto */
    color: #000; /* Cor pode ser ajustada para sua preferência */
    /* Definindo o tamanho da fonte */
    font-size: 16px; /* Tamanho da fonte pode ser ajustado */
    /* Definindo margem inferior para espaçamento */
    margin-bottom: 2px; /* Ajuste conforme necessário */
    /* Outros estilos opcionais */
    font-weight: bold; /* Pode ser 'normal' ou 'bold' */
    /* Centralizando o texto horizontalmente */
    text-align: center; /* Centraliza o texto dentro do label */
    /* Centralizando o texto verticalmente */
    line-height: 1.5; /* Ajusta a altura da linha para centralizar verticalmente */
    font-weight: 500;
}



.input-group {
    display: flex;
    align-items: center;
}

.input-group button {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    font-size: 1.5rem; /* Tamanho da fonte para o símbolo */
    border: none; /* Remove a borda padrão */
    border-radius: 50%; /* Forma redonda */
    width: 20px; /* Largura e altura iguais para botões redondos */
    height: 20px;
    display: flex; /* Flexbox para centralizar conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    transition: background-color 0.3s, box-shadow 0.3s; /* Animação de hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
/* Efeito ao passar o mouse sobre o botão */
.input-group button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao hover */
}

/* Efeito de clique no botão */
.input-group button:active {
    transform: translateY(2px); /* Efeito de pressão */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Reduz a sombra ao clicar */
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    .input-group button {
        width: 10px; /* Reduz o tamanho para dispositivos móveis */
        height: 10px;
        font-size: 1.2rem;
    }
    #cabecalho_font_size, #agencia_bg_width, #agencia_bg_height{
    width: 80%; 
}
}
#cabecalho_font_size, #agencia_bg_width, #agencia_bg_height, #apresentacao_font_size{
    width: 50%; /* Define a largura do input */
    padding: 10px; /* Espaço interno */
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px; /* Tamanho da fonte */
    border: 2px solid #4CAF50; /* Cor e espessura da borda */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Cor de fundo */
    color: #333; /* Cor do texto */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave ao focar */
    align-items: center;
} 



#copy_agencia,#telefone_agencia,#contato_agencia,#agencia_background_color_input,#agencia_explica_color_input,#explicacao_text_color_input,#link_7,#link_8,#copy,#telefone,#contato,#link_face_agencia, #cabecalho_text_color_input,
#link_insta_agencia,#link_youtube_agencia,#link_site_agencia,#bgd_image,#bgd_width,#bgd_height,#text_content,#agencia_header_color_input,#text_color_input, #linklogin
,#text_header_color_input,#text_saudacao_color_input,#text_header_content_input,#text_saudacao_content_input,#agencia_footer_color_input, #link_member_agencia, #link_impact,#texto_cabecalho_agencia{
    width: 100%; /* Define a largura do input */
    padding: 10px; /* Espaço interno */
    margin: 10px 0; /* Espaçamento externo */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #4CAF50; /* Cor e espessura da borda */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Cor de fundo */
    color: #333; /* Cor do texto */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave ao focar */
    text-transform: none;
}
#copy_agencia:focus,#telefone_agencia:focus,#contato_agencia:focus,#agencia_background_color:focus,#agencia_explica_color:focus,#explicacao_text_color:focus,
#link_7:focus,#link_8:focus,#copy:focus,#telefone:focus,#contato:focus, #cabecalho_text_color_input:focus,
#link_face_agencia:focus, #link_insta_agencia:focus,#link_youtube_agencia:focus,#link_site_agencia:focus,#bgd_image:focus,
#bgd_width:focus,#bgd_height:focus,#text_content:focus,#font_size:focus,
#agencia_header_color_input:focus,#cabecalho_font_size:focus,
#text_color_input:focus,#linklogin:focus,  #agencia_bg_width:focus, #agencia_bg_height:focus,
#text_header_color_input:focus,#text_saudacao_color_input:focus, #apresentacao_font_size:focus,
#text_header_content_input:focus,#text_saudacao_content_input:focus,
#agencia_footer_color_input:focus, #link_impact:focus, #link_member_agencia:focus,#texto_cabecalho_agencia:focus  {
    border-color: #3e8e41; /* Cor da borda ao focar */
    box-shadow: 0 0 5px #3e8e41; /* Sombra ao focar */
    outline: none; /* Remove o contorno padrão */
    font-size: 12px;
    text-transform: none; /* Garante que o texto não seja transformado */
}  
#copy_agencia:hover,#telefone_agencia:hover,#contato_agencia:hover,#agencia_background_color_input:hover,#agencia_explica_color_input:hover,#explicacao_text_color_input:hover,#cabecalho_font_size:hover,
#link_7:hover,#link_8:hover,#copy:hover,#telefone:hover,#contato:hover,#link_face_agencia:hover, #agencia_bg_width:hover, #agencia_bg_height:hover,
#link_insta_agencia:hover,#link_youtube_agencia:hover,#link_site_agencia:hover,#bgd_image:hover,#cabecalho_text_color_input:hover, #apresentacao_font_size:hover,
#bgd_width:hover,#bgd_height:hover:hover,#font_size:hover,#agencia_header_color_input:hover,#text_color_input:hover,#linklogin:hover, 
#text_header_color_input:hover,#text_saudacao_color_input:hover,#text_header_content_input:hover,#text_saudacao_content_input:hover
#agencia_footer_color_input:hover, #link_impact:hover, #link_membe_agencia:hover,#texto_cabecalho_agencia:hover{
background-color: #818080;/* Muda a cor de fundo ao passar o mouse */
color: #fff; /* Cor do ícone */
}

.color-input-container {
    display: flex;
    align-items: center;
}

.color-input-container input[type="color"] {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%; /* Faz o campo de cor ficar redondo */
    border: 2px solid #4CAF50; /* Cor e espessura da borda */
   /* border: none;  Remove bordas padrão */
    appearance: none; /* Remove estilo padrão do navegador */
}

.color-input-container input[type="color"]::-webkit-color-swatch {
    border-radius: 50%; /* Ajusta o estilo da cor no WebKit (Chrome, Safari) */
}

.color-input-container input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    width: 70%;
}


iframe {
    flex: 1; /* O iframe cresce para ocupar todo o espaço disponível no container */
    width: 100%; /* O iframe ocupa 100% da largura do container direito */
    height: 100%; /* O iframe ocupa 100% da altura do container */
    border: none; /* Remove bordas do iframe */
    margin-bottom: 0%;
    margin-top: 8%;
  
  
}

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    text-align: center; /* Centraliza horizontalmente */
    align-items: center;
    min-height: 50px; /* Você pode ajustar a altura mínima se necessário */
    padding: 1rem; /* Ajustar o padding para menor */
    box-shadow: 5px 5px 5px #00000040;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;

}

.modal-content {
    background-color: #2d2f34;
    margin: 10% auto;
    padding: 20px;
    width: 70%;
    height: 80%;
    transform: translateY(-5px);
    border: 2px solid #1296fc;
    z-index: 20; /* Garante que o cabeçalho fique acima dos cartões */
    border-radius: 32px; /* Bordas superior right */
}


.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(-5px);
    border: 2px solid #1296fc;
}

.detalhes-button {
    width: 98%;
    margin-top: 5px; /* Remover esta margem ou ajustá-la se necessário */
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.detalhes-button:hover {
    background-color: #0056b3;
}

.copy-url-button {
    width: 98%;
    margin-top: 5px; /* Remover esta margem ou ajustá-la se necessário */
    padding: 10px 15px;
    border: none;
    background-color: #474747;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.copy-url-button:hover {
    background-color: #515151;
}



